<!DOCTYPE html>
<html>
  <head>
    <title>Photogram Industrial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--1 Create a partial template to insert the cdn assets which contains Bootstrap + Javascript + Font -->
    <%= render partial: "shared/cdn_assets" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

<!--2 Using the navbar components from bootstrap, copy pasting its HTML/CSS in the partial template and rendering it here.-->
    <%= render partial: "shared/navbar" %>

    <div class="container">

      <% if notice.present? %>
        <%= render partial: "shared/flash", locals: { message: notice, css_class: "success" } %>
      <% end %>

      <% if alert.present? %>
        <%= render partial: "shared/flash", locals: { message: alert, css_class: "danger" } %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
